body {
    background-color: #db9696;
    border: 1px solid white;
}
.container {
    background-color: #c8f193;
    display: flex;
    border: 2px solid white;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
    margin: 3% 10% ;
}

.section3 {
    background-color: #fff;
    border: 2px solid #db9696;
    /* border-radius: 5em; */
    padding: 4% 10%;
}

h1 {
    background-color: #fff;
    padding: 1rem;
    border: 2px solid #db9696;
}

