.body {
    background-color: #db9696;
    border: 2px solid white;
}
.container {
    background-color: #c8f193;
    margin: 1rem 5rem 5rem 5rem;
    padding: 1rem 5rem 5rem 5rem;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
section {
    border: 2px solid white;
    padding : 1rem 5rem 5rem 5rem;
}
.section5 > .hidden {
    color :red;
    display: none;
}
.imgArticle {
    width: 10rem;
}
